<div class="control-group">
  <div class="button-group">
    <button class="editor-btn editor-dropdown-toggle" id="{{ name }}-h-dropdown" type="button" aria-expanded="false"><i class="ri-heading"></i><i class="ri-arrow-drop-down-line"></i></button>
    <ul id="{{name}}-editor-dropdown-menu" class="editor-dropdown-menu">
        <li id="{{ name }}-editor-h1" class="editor-dropdown-item"><button class="editor-btn" type="button"><i class="ri-h-1"></i></button></li>
        <li id="{{ name }}-editor-h2" class="editor-dropdown-item"><button class="editor-btn" type="button"><i class="ri-h-2"></i></button></li>
        <li id="{{ name }}-editor-h3" class="editor-dropdown-item"><button class="editor-btn" type="button"><i class="ri-h-3"></i></button></li>
    </ul>
  </div>
  <div class="editor-separator" data-orientation="vertical" role="none" aria-hidden="true"></div>
  <div class="button-group">
    <button class="editor-btn" id="{{ name }}-editor-bold" type="button"><i class="ri-bold"></i></button>
    <button class="editor-btn" id="{{ name }}-editor-italic" type="button"><i class="ri-italic"></i></button>
    <button class="editor-btn" id="{{ name }}-editor-underline" type="button"><i class="ri-underline"></i></button>
  </div>
  <div class="editor-separator" data-orientation="vertical" role="none" aria-hidden="true"></div>
  <div class="button-group">
    <button class="editor-btn" id="{{ name }}-editor-ol" type="button"><i class="ri-list-ordered"></i></button>
    <button class="editor-btn" id="{{ name }}-editor-ul" type="button"><i class="ri-list-unordered"></i></button>
  </div>
  <div class="editor-separator" data-orientation="vertical" role="none" aria-hidden="true"></div>
  <div class="button-group">
    <button class="editor-btn" id="{{ name }}-editor-link" type="button"><i class="ri-link"></i></button>
    <button class="editor-btn" id="{{ name }}-editor-figure" type="button"><i class="ri-image-fill"></i></button>
    <button class="editor-btn" id="{{ name }}-editor-youtube" type="button"><i class="ri-video-fill"></i></button>
  </div>
  <div class="editor-separator" data-orientation="vertical" role="none" aria-hidden="true"></div>
  <div class="button-group">
    <button class="editor-btn" id="{{ name }}-editor-blockquote" type="button"><i class="ri-quote-text"></i></button>
  </div>
  <div class="editor-separator" data-orientation="vertical" role="none" aria-hidden="true"></div>
  <div class="button-group">
    <button class="editor-btn" id="{{ name }}-editor-clear" type="button"><i class="ri-format-clear"></i></button>
  </div>
</div>
<div id="{{ name }}-editor"></div>
<script>
    djangoEditor.createTiptap('#' + '{{ name|escapejs }}' + '-editor', '{{ name|escapejs }}');
</script>
