// style for editor toolbar

.control-group {
    display: flex;
}

.button-group {
    display: flex;
    gap: 0.125rem;
}

.editor-separator {
    height: 1.5rem;
    width: 1px;
    background-color: black;
    margin: 2px;
}

.editor-dropdown-menu {
  display: none;
  position: absolute;
  margin: 0px;
  transform: translate(0px, 25px);
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0;
  min-width: 100px;
  z-index: 1000;
}

.editor-dropdown-item {
  list-style: none;
}

.editor-dropdown-item:hover {
  background-color: lightgray;
}

.editor-dropdown-menu.expanded {
  display: flex;
  flex-direction: column;
}

.editor-btn {
  background-color: white;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.module .editor-btn {
  background-color: inherit;
}

.editor-btn.active {
  border-color: black;
}

.tiptap {
    padding: 0.5rem;
    height: 30em;
    overflow: scroll;
    
    img {
        display: block;
        height: auto;
        margin: 1.5rem 0;
        max-width: 100%;
    
        &.ProseMirror-selectednode {
          outline: 3px solid purple;
        }
      }
    
      figure {
        align-items: start;
        border: 2px solid black;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 1rem 0;
        padding: 0.5rem;
        width: fit-content;
    
        > *:not(figcaption) {
          margin: 0;
          max-width: 100%;
        }
    
        &:has(figcaption:active) {
          border-color: purple;
        }
    
        figcaption {
          border-radius: 0.5rem;
          border: 2px dashed #0d0d0d20;
          padding: 0.5rem;
          text-align: center;
          width: 100%;
        }
    }
    h2 {
      background-color: inherit;
      font-size: 1rem;

    }
}

dialog {
  border-radius: 0.375rem;
}

#image-upload-form > div label {
  display: flex;
}

#image-upload-form > div input:not(#id_file) {
  border-width: thin;
  border-radius: 0.375rem;
}

#image-upload-form > button {
  margin-top: 1em;
}

.tiptap-close-icon {
  position: fixed;
  top: 1em;
  right: 1em;
}